<ion-page>
<ion-header style="height: 50px;">
  <!-- <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar> -->
  <div class="segment-container">
    <ion-segment
      [ngClass]="connectedSocket ? 'primer-segment connected' : 'primer-segment'"
      (ionChange)="onSegmentChanged($event)"
      [value]="segmentValue"
      scrollable="true"
    >
      <ion-segment-button value="first" content-id="first">
        <ion-label>Carpetes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="llista" content-id="llista">
        <ion-label>Llista<span *ngIf="llistaCurrentMusic && llistaCurrentMusic.length && llistaCurrentMusic.length > 0"> ({{ llistaCurrentMusic.length }})</span> 
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorits" content-id="favorits">
        <ion-label>Favorits<span *ngIf="musicfavorite && musicfavorite.length && musicfavorite.length > 0"> ({{ musicfavorite.length }})</span> 
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="cuatemp" content-id="cuatemp">
        <ion-label>Cua<span *ngIf="musiccuatemp && musiccuatemp.length && musiccuatemp.length > 0"> ({{ musiccuatemp.length }})</span> 
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="llums" content-id="llums">
        <ion-label>Llum</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Iconos superpuestos -->
    <ion-icon
      src="assets/svg/volume-low-outline.svg"
      class="volumlow"
      (click)="DisminuirVolumKodi()"
    ></ion-icon>

    <ion-icon
      src="assets/svg/volume-high-outline.svg"
      class="volumhigh"
      (click)="AugmentarVolumKodi()"
    ></ion-icon>
  </div>
</ion-header>


<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button size="small">
    <ion-icon src="assets/svg/chevron-up-circle.svg"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button *ngFor="let btn of fabButtons" (click)="btn.action()">
      <ion-icon [src]="btn.icon">Text 1</ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content >
<ion-segment-view class="primer-segment-view">
  <ion-segment-content id="first">
        <ion-content>
          <ion-list>
            <ion-item 
              *ngFor="let item of filteredllistaFiles"
              button
              [ngClass]="{
                'item-clicked': item.selected,
                'fade-effect': item.selected
              }"
              (click)="onItemClick(item)"
            >
              <ion-icon
                  class="file-icon"
                  slot="start"
                [src]="item.filetype === 'directory' ? 'assets/svg/folder.svg' : 'assets/svg/document.svg'"
                color="primary">
              </ion-icon>
              <div class="file-label">
                <span [ngStyle]="{ 'font-weight': item.added ? 'bold' : 'normal' }">
                  {{ getNomCurt(item.file, item.titlecustom) }}
                </span>

                <ion-icon
                  *ngIf="item.filetype !== 'directory'"
                  class="favorite-icon icon-list"
                  [src]="item.filetype !== 'directory' && item.favorite ? 'assets/svg/star.svg' : 'assets/svg/star-outline.svg'"
                  (click)="toggleFavorite(item); $event.stopPropagation()"
                  color="warning"
                ></ion-icon>
              </div>
              <ion-note slot="end" *ngIf="item.filetype === 'file' && item.duration">
                {{ ParseTimeDuration(item.duration) }}
              </ion-note>
              <ion-icon
               *ngIf="item.played"                
                slot="end"
                class="played-icon icon-list"
                src="assets/svg/checkmark-done-outline.svg"
                color="success">
              </ion-icon>
              <ion-icon
                *ngIf="item.filetype !== 'directory'"
                slot="end"
                class="temp-list-icon icon-list"
                [ngClass]="{ 'active': item.inTempList }"
                [src]="item.inTempList ? 'assets/svg/list.svg' : 'assets/svg/list-outline.svg'"
                (click)="toggleTempList(item); $event.stopPropagation()"
                title="Agregar / Quitar lista temporal"
              ></ion-icon>
            </ion-item>
          </ion-list>
        </ion-content>    
  </ion-segment-content>
  <ion-segment-content id="llista">
        <ion-content>
          <ion-list>
            <ion-item 
              *ngFor="let item of llistaCurrentMusic; let i = index"
              [ngClass]="{'current-playing': currentTrack && item.file === currentTrack.file}"
            >
              <ion-icon
                *ngIf="currentTrack && item.file === currentTrack.file"
                slot="start"
                class="playing-icon"
                src="assets/svg/play.svg"
                color="primary"
                style="margin-right: 8px;"
              ></ion-icon>
              <div class="file-label"
                button
                (click)="onItemPlay(item, i)"
              >
                {{ getNomCurt(item.file, '') }}
              </div>
              <ion-icon
                slot="end"
                class="close icon-list"
                color="danger"
                src="assets/svg/close-outline.svg"
                (click)="treureItemCurrentMusic(item); $event.stopPropagation()"
              ></ion-icon>
              <ion-note slot="end">
                {{ ParseTimeDuration(item.duration) }}
              </ion-note>
              <ion-icon
                class="icon-menu icon-list"
                src="assets/svg/ellipsis-vertical.svg"
                slot="end"
                (click)="setOpenActionSheet(true)"
              ></ion-icon>
            </ion-item>
          </ion-list>
        </ion-content>    
  </ion-segment-content>
  <ion-segment-content id="favorits">
        <ion-content>
          <ion-list>
            <ion-item 
              *ngFor="let item of musicfavorite; let i = index"
              button
              (click)="onItemFavorits(item, i)"
            >
              <div class="file-label"
                [ngStyle]="{ 'font-weight': item.added ? 'bold' : 'normal' }"
              >
                {{ item.nom }}
              </div>
                <ion-icon
                  *ngIf="item.filetype !== 'directory'"
                  class="close icon-list"
                  slot="end"
                  src="assets/svg/close-outline.svg"
                  (click)="toggleFavorite(item); $event.stopPropagation()"
                  color="danger"
                ></ion-icon>
              <ion-note slot="end" *ngIf="item.filetype === 'file' && item.duration">
                {{ ParseTimeDuration(item.duration) }}
              </ion-note>
            </ion-item>
          </ion-list>
        </ion-content>    
  </ion-segment-content>
  <ion-segment-content id="cuatemp">
        <ion-content>
          <ion-list>
            <ion-item 
              *ngFor="let item of musiccuatemp; let i = index"
            >
              <div class="file-label"
                button
                [ngStyle]="{ 'font-weight': item.added ? 'bold' : 'normal' }"
                (click)="onItemCuaTemp(item, i)"
              >
                {{ item.nom }}
              </div>
              <ion-icon
                *ngIf="item.filetype !== 'directory'"
                slot="end"
                class="close icon-list"
                color="danger"
                src="assets/svg/close-outline.svg"
                (click)="toggleTempList(item); $event.stopPropagation()"
              ></ion-icon>
              <ion-note slot="end" *ngIf="item.filetype === 'file' && item.duration">
                {{ ParseTimeDuration(item.duration) }}
              </ion-note>
              <ion-icon
                class="icon-hover icon-list"
                src="assets/svg/ellipsis-vertical.svg"
                slot="end"
                (click)="setOpenActionSheet(true)"
              ></ion-icon>
            </ion-item>
          </ion-list>
        </ion-content>    
  </ion-segment-content>
  <ion-segment-content id="llums">
  <ion-label class="status-label" [ngClass]="connectedSocket ? 'connected' : 'disconnected'">
    {{ connectedSocket ? 'Connectat a Kodi' : 'Desconnectat de Kodi' }}
    {{urlKodi}}
    {{urlSocketKodi}}
    {{urlDMX}}
  </ion-label>
    <ion-content>
      <app-touch-circle (focoData)="onFocoDataReceived($event)"></app-touch-circle> 
    </ion-content>

    <ion-content>
      <ion-range [min]="minValue" [max]="maxValue" [(ngModel)]="redRange" aria-label="Dual Knobs Range" [pin]="true" [dualKnobs]="true" (ionChange)="onIonRangeChange($event,'red')">
        <ion-icon slot="start" src="assets/svg/color-palette-sharp.svg" class="redlow"></ion-icon>
        <ion-icon slot="end" src="assets/svg/color-palette-sharp.svg" class="redhigh"></ion-icon>
      </ion-range>
    </ion-content>
    <ion-content>
      <ion-range aria-label="Dual Knobs Range" [pin]="true" [dualKnobs]="true" [value]="{ lower: 0, upper: 255 }" (ionChange)="onIonRangeChange($event,'green')">
        <ion-icon slot="start" src="assets/svg/color-palette-sharp.svg" class="greenlow"></ion-icon>
        <ion-icon slot="end" src="assets/svg/color-palette-sharp.svg" class="greenhigh"></ion-icon>
      </ion-range>
    </ion-content>

  </ion-segment-content>
</ion-segment-view>

</ion-content>
<ion-footer>
  <div class="progress-bar" [style.width.%]="progressPercent"></div>
  <ion-toolbar>
    <div class="footer-content">
      <!-- Info de canción -->
      <div class="track-info" *ngIf="currentTrack">
        <div class="track-details-inline">
          <span class="track-title">{{ getNomCurt(currentTrack.file, currentTrack.titlecustom) }}</span>
          <span class="track-duration-inline">{{ ParseTimeDuration(currentTrack.duration) }}</span>
        </div>
      </div>

      <!-- Fila de duración + botones -->
      <div class="playlist-controls-row">
        <div class="playlist-total">
          {{ ParseTimeDuration(totalDuration) }}
        </div>

        <div class="playback-controls">
          <ion-button fill="clear" (click)="playPrevious()">
            <ion-icon slot="icon-only" class="icon-list" src="assets/svg/play-skip-back-outline.svg"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="togglePlayPause()">
            <ion-icon slot="icon-only" class="icon-list" [src]="isPlaying ? 'assets/svg/pause.svg' : 'assets/svg/play.svg'"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="stopPlayback()">
            <ion-icon slot="icon-only" class="icon-list" src="assets/svg/stop.svg"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="playNext()">
            <ion-icon slot="icon-only" class="icon-list" src="assets/svg/play-skip-forward-outline.svg"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>

 <ion-toast
    [isOpen]="isToastOpen"
    [message]="txtToastMessage"
    [duration]="3000"
    (didDismiss)="setOpenToast(false)"
  ></ion-toast>
<ion-alert
  [isOpen]="isAlertOpen"
  (didDismiss)="onAlertDidDismiss()"
  [header]="txtAlertTitle"
  [message]="txtAlertMessage"
  [buttons]="alertButtons"
></ion-alert>
<ion-action-sheet
  [isOpen]="isActionSheetOpen"
  header="Opcions"
  [buttons]="actionSheetButtons"
  (didDismiss)="setOpenActionSheet(false)"
></ion-action-sheet>
<!-- Modal de búsqueda -->
<div class="overlay" *ngIf="isSearchOpen" (click)="closeSearch()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3>Buscar</h3>

    <ion-item lines="full" class="search-item">
      <ion-input
        [value]="searchText"
        (ionInput)="searchText = typeof $event.target.value === 'string' ? $event.target.value : ''"
        type="text"
      ></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="performSearch()">Cancel·lar</ion-button>

    <button class="close-button" (click)="closeSearch()">✕</button>
  </div>
</div>

</ion-page>